<div class="grid">


    <div class="title">
        <label class="btn btn-default p-0">
              <input type="file" (change)="selectFile($event)" />
            </label>
    </div>
    <div class="imagebox1">
        <img class="image1" style="width:250px; height:125px;" src="../../../assets/jpg.png" />
        <img class="image2" style="width:250px; height:125px;" src="../../../assets/png.png" />
    </div>
    <div class="button">
        <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload('avatar')">
                {{ 'uploadavatar' | translate }}
            </button>
    </div>

    <div class="progressbar1">
        <div *ngIf="currentFile" class="progress my-3" style="text-align:center">

            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
            </div>
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert"> {{ 'uploadfailure' | translate }}</div>
    </div>


    <div class="title2">
        <label class="btn btn-default p-0">
              <input type="file" (change)="selectFile($event)" />
            </label>
    </div>
    <div class="imagebox2">
        <img class="image3" style="width:250px; height:125px;" src="../../../assets/doc.png" />
        <img class="image4" style="width:275px; height:150px;" src="../../../assets/pdf.png" />
    </div>
    <div class="button2">
        <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload('cv')">
                {{ 'uploadcv' | translate }}
            </button>
    </div>
</div>
<div class="progressbar1">
    <div *ngIf="currentFile" class="progress my-3">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
        </div>

        <div *ngIf="message" class="alert alert-secondary" role="alert"> {{ 'uploadfailure' | translate }}</div>
    </div>
</div>