<div class="wrapper">
    <div class="background1"></div>
    <div class="first_p" name="viewport" content="width=device-width, initial-scale=1">
        {{ 'website_mission_section1' | translate }}
    </div>

    <div class="first_image">
        <img src="../../../assets/home1.png" style=" border-radius:50%; max-width: 100%;max-height: 100%;">
    </div>

    <div class="second_p " name="viewport" content="width=device-width, initial-scale=1">
        {{ 'website_mission_section2' | translate }}
    </div>



    <div class="third_p " name="viewport" content="width=device-width, initial-scale=1">
        {{ 'website_mission_section3' | translate }}
    </div>
    <div class="background2">
    </div>
    <div class="second_image">
        <img src="../../../assets/home2.png" style=" border-radius: 50%;
        max-width: 100%; max-height: 100%;">
    </div>
    <div class="grid1">
    </div>
</div>