<div class="wrapper">
    <div class="header">
        <!-- header -->
        <nav class="navbar navbar-light bg-light ">
            <div class="container text-center p-2 ">
                <span class="mx-auto text-bold">My Own IDE</span>
            </div>
        </nav>
    </div>



    <div class="container h-100 mt-4" style="grid-column-start: 1; grid-column-end: 10; grid-row-start: 2; display:grid; grid-template-columns: repeat(10, 1fr); grid-template-rows: repeat(10, 1fr);">

        <!-- languages & theme -->
        <!-- languages select -->
        <div style="grid-column-start: 1; grid-column-end: 4; grid-row-start: 1;">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="languages-select">Languages</label>
                </div>
                <select class="languages-select" id="languages-select" #languagesSelect>
                        <option value="1">language01</option>
                        <option value="2">language02</option>
                        <option value="3">language03</option>
                    </select>
            </div>
        </div>
        <!-- theme radio buttons -->
        <div style="grid-column-start: 6; grid-column-end: 10; grid-row-start: 1;">
            <div class="btn-group btn-group-toggle btn-group-sm mx-auto" data-toggle="buttons">
                <label class="btn btn-secondary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        theme01
                    </label>
                <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option2" autocomplete="off">
                        theme02
                    </label>
                <label class="btn btn-secondary">
                        <input type="radio" name="options" id="option3" autocomplete="off">
                        theme03
                    </label>
            </div>
        </div>

        <!-- the code editor -->
        <div class="col" style="grid-row-start:1; grid-column-start: 1; grid-column-end: 10; margin-top:50px;">
            <div class="code-editor" #codeEditor></div>
        </div>

        <!-- run, clear & beautify buttons -->
        <div style="width: 66%;margin: 0 auto; text-align: center; grid-row-start:2; grid-row-end:4;grid-column-start:1; grid-column-end:10;">
            <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-50">
                <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" style="float: left;" (click)="getCode()">
                    Run
                </button>
            </div>
            <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-50">
                <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" style="float: left;" (click)="getCode()">
                    Clear
                </button>
            </div>
            <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-50">
                <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" style="float: left;" (click)="beautifyContent()">
                    Beautify
                </button>
            </div>
        </div>

        <!-- output box -->
        <div class="row mt-4" style="margin-top: 50px !important; grid-row-start: 2; grid-column-start:1; grid-column-end:10;">
            <div class="col">
                <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
                <textarea class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
            </div>
        </div>
    </div>
</div>