<div class="wrapper">
    <div class="grid1">
    </div>
    <div class="grid2"></div>
    <div class="grid3"></div>
    <div class="grid4"></div>

    <form class="form-grid">
        <div className="alert alert-danger" *ngIf="this.changeSuccess" style="text-align: center; vertical-align: middle;background-color:rgb(135, 233, 122); border-color:rgb(68, 230, 53); color:rgb(2, 90, 6)">
            {{'changesuccess' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.errorChange" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errorchange' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.errorpasswordformat" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errorpasswordformat' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.expiredTokenPassword" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'expiredlinkpassword' | translate}}
        </div>

        <div className="alert alert-danger" *ngIf="this.passwordDontMatch" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errorpassworddontmatch' | translate}}
        </div>

        <div className="alert alert-danger" *ngIf="this.emptyPassword" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'emptypassword' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.emptyConfirmPassword" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'emptyconfirmpassword' | translate}}
        </div>


        <div class="form-group ">
            <label for="password">{{ 'password' | translate }}</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="username" aria-describedby="username" placeholder="...">
        </div>

        <div class="form-group ">
            <label for="password">{{ 'confirmpassword' | translate }}</label>
            <input [(ngModel)]="confirmpassword" name="confirmpassword" type="password" class="form-control" id="username" aria-describedby="username" placeholder="...">
        </div>


        <div class="col text-center">
            <button type="submit" (click)="updatePassword(this.password, this.confirmpassword)" class="btn btn-primary btn-success">{{ 'submit' | translate }}</button>
        </div>
    </form>

</div>