.grid {
    padding-left: 38px;
    font-family: "Satisfy-Regular";
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 10px;
    height: 100vh;
}

.grid .header {
    display: grid;
    padding: 5px;
    margin-left: 20px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    background-color: rgb(207, 209, 207);
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, 80px);
}