<div class="wrapper">

    <div class="create">
        <a mat-button routerLinkActive="active " routerLink="/createexercise">
            <img src="../../../assets/create.jpg" style="border-radius:40%">
        </a>
    </div>
    <div class="startcreating">
        {{ 'startcreating' | translate}}
    </div>
    <div class="createexplanation">
        {{ 'explanationtitle' | translate}}
        <ul>
            <li>{{ 'createexplanation1' | translate}}</li>
            <li>{{ 'createexplanation2' | translate}}</li>
            <li>{{ 'createexplanation3' | translate}}</li>
        </ul>
    </div>
    <div class="startresolving">
        {{ 'startresolving' | translate}}
    </div>
    <div class="resolve">
        <img src="../../../assets/resolve.png" style="height:400px; width:400px;">
    </div>
    <div class="resolveexplanation">
        {{ 'explanationtitle' | translate}}
        <ul>
            <li>{{ 'resolveexplanation1' | translate}}</li>
            <li>{{ 'resolveexplanation2' | translate}}</li>
            <li>{{ 'resolveexplanation3' | translate}}</li>
        </ul>
    </div>
</div>