@font-face {
    font-family: 'Satisfy-Regular';
    src: url(../../../assets/Courgette-Regular.ttf) format("truetype");
    font-weight: 300;
}

.wrapper {
    display: grid;
    background: rgb(236, 235, 235) !important;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    float: left;
    position: relative;
    min-width: 85%;
    overflow: auto;
}

.profile {
    font-family: "Satisfy-Regular";
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    background: white !important;
    border-radius: 5px;
    box-shadow: 5px 5px 12.5px grey;
}

.profile2 {
    font-family: "Satisfy-Regular";
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 6;
    background: white !important;
    border-radius: 5px;
    box-shadow: 5px 5px 12.5px grey;
}

.profile .title {
    background: rgb(2, 27, 2) !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    color: white;
}

.profile2 .title {
    background: rgb(2, 27, 2) !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    color: white;
}

.grid .articles {
    background-color: white;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
}

.grid .header .articles ul {
    list-style: none;
}

.articles .article {
    display: flex;
    border-bottom-style: groove;
    border-bottom-color: darkgrey;
}

.articles .article a {
    display: flex;
    text-decoration: none;
}

.articles .article a .leftpart {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.articles .article a .content {
    display: inline-block;
    align-self: flex-end;
}