.grid {
    padding-left: 38px;
    font-family: "Satisfy-Regular";
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 10px;
    height: 100vh;
}

.grid .header {
    display: grid;
    padding: 5px;
    margin-left:20px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    background-color: rgb(207, 209, 207);
    grid-template-columns: subgrid;
    grid-template-rows: repeat(3, 80px);
}

.grid .header .profil {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid .header .cv {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.grid .articles {
    background-color: white;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
}

.grid .header .articles ul {
    list-style: none;
}

.articles .article {
    display: flex;
    border-bottom-style: groove;
    border-bottom-color: darkgrey;
}

.articles .article a{
    display: flex;
    text-decoration: none;
}

.articles .article a .leftpart{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.articles .article a .content{
    display: inline-block;
    align-self: flex-end;
}