<div class="wrapper">
    <form class="form-grid">

        <div className="alert alert-danger" *ngIf="this.errorGeneral" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'exercisecreationerror' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.errorTitle" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errortitle' | translate}}
        </div>
        <div className="alert alert-danger" *ngIf="this.errorExplanation" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errorexplanation' | translate}}
        </div>

        <div class="form-group ">
            <label for="username">{{ 'title' | translate }}</label>
            <input [(ngModel)]="exercise.title" name="title" type="text" class="form-control" id="title" aria-describedby="title" placeholder="...">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">{{'exerciseimage' | translate}}</label>
            <input (change)="fileChange($event)" class="form-control" type="file" id="image" name="image">
        </div>

        <div class="form-group ">
            <label for="explanation">{{ 'explanation' | translate }}</label>
            <textarea [(ngModel)]="exercise.explanation" class="form-control text-left" id="form4Example3" rows="4" id="w3review" name="w3review" rows="4" cols="50">
                </textarea>
        </div>

    </form>

    <form class="form-grid2">
        <div className="alert alert-danger" *ngIf="this.errorSolutions" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
            {{'errorsolutions' | translate}}
        </div>

        <label for="username">{{ 'solutions' | translate }}</label>
        <div class="form-group ">
            <label>{{ 'input' | translate }}</label>
            <label>{{ 'outputsolution' | translate }}</label>
            <label>{{ 'solutionsetsexplanation' | translate }}</label>
            <label>1)</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="input1" name="input1" class="form-control input-sm" placeholder="{{ 'forminput' | translate }}" value="{{ 'forminput' | translate }}" />
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" [(ngModel)]="output1" name="output1" class="form-control input-sm" placeholder="{{ 'formoutput' | translate }}" value="{{ 'formoutput' | translate }}" />
            </div>

            <label>2)</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="input2" name="input2" class="form-control input-sm" placeholder="{{ 'forminput' | translate }}" value="{{ 'forminput' | translate }}" />
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" [(ngModel)]="output2" name="output2" class="form-control input-sm" placeholder="{{ 'formoutput' | translate }}" value="{{ 'formoutput' | translate }}" />
            </div>

            <label>3)</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="input3" name="input3" class="form-control input-sm" placeholder="{{ 'forminput' | translate }}" value="{{ 'forminput' | translate }}" />
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" [(ngModel)]="output3" name="output3" class="form-control input-sm" placeholder="{{ 'formoutput' | translate }}" value="{{ 'formoutput' | translate }}" />
            </div>

            <label>4)</label>
            <div class="input-group">
                <input type="text" [(ngModel)]="input4" name="input4" class="form-control input-sm" placeholder="{{ 'forminput' | translate }}" value="{{ 'forminput' | translate }}" />
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" [(ngModel)]="output4" name="output4" class="form-control input-sm" placeholder="{{ 'formoutput' | translate }}" value="{{ 'formoutput' | translate }}" />
            </div>
        </div>

    </form>
    <button type="submit" style="grid-column-start: 4; grid-column-end: 6; grid-row-start: 8; grid-row-end:9;" (click)="createExercise()" class="btn btn-primary"> {{'submit' | translate}}</button>
</div>