<div class="wrapper">
        <form class="form">
            <div className="alert alert-danger" *ngIf="this.errorTitle" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
                {{'errortitle' | translate}}
            </div>
            <div className="alert alert-danger" *ngIf="this.errorContent" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
                {{'errorcontent' | translate}}
            </div>
            <div className="alert alert-danger" *ngIf="this.errorImage" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
                {{'errorimage' | translate}}
            </div>
            <div className="alert alert-danger" *ngIf="this.errorLanguage" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
                {{'errorlanguage' | translate}}
            </div>
            <div className="alert alert-danger" *ngIf="this.errorGeneral" style="text-align: center; vertical-align: middle;background-color:darksalmon; border-color:red; color:red">
                {{'errorgeneral' | translate}}
            </div>

            <div class="form-group">
                <label  for="Title">{{'title' | translate}}</label>
                <input  [(ngModel)]="article.title" (change) = "updateTitle($event)" name="title" type="text" class="form-control" id="title" aria-describedby="Title of article" placeholder="...">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">{{'imagearticle' | translate}}</label>
                <input (change)="fileChange($event)" class="form-control" type="file" id="image" name="image">
            </div>


            <div class="dropdown">
                {{'languagechoice' | translate}}
                <br>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-target="dropdown-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{this.article.language}}
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li *ngFor="let v of items; let i = index" (click)="selectChangeHandler($event, v.val )">
                        <a class="dropdown-item">{{ v.val }}</a>
                </div>
            </div>
            <label for="Content">{{'contentofarticle' | translate}}</label><textarea [(ngModel)]="article.content" class="form-control text-left" id="form4Example3" rows="4" id="w3review" name="w3review" rows="4" cols="50">
            </textarea>
            <button type="submit" (click)="sendArticle()" class="btn btn-primary">{{'sendarticle' | translate}}</button>
        </form>
    </div>
