<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="#">AlgoPlus</a>
        </header>
        <ul class="nav">

            <li>
                <a *ngIf="this.isLoggedIn && this.isAdmin"  routerLinkActive="active " routerLink="/adminboard">
                    <fa-icon [icon]="faClipboardList"></fa-icon>
                    &nbsp; {{ 'dashboard' | translate }}
                </a>

                <a *ngIf="this.isLoggedIn && this.isUser"  routerLinkActive="active " routerLink="/userboard">
                    <fa-icon [icon]="faClipboardList"></fa-icon>
                    &nbsp; {{ 'dashboard' | translate }}
                </a>

            </li>

            <li>
                <a mat-button routerLinkActive="active " routerLink="/homearticles">
                    <img src="../../../assets/newspaperwhite.png" height=20px weight=20px> &nbsp; {{ 'articles' | translate }}
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/white-calender.png" height=20px weight=20px> &nbsp; {{ 'events' | translate }}
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faMailBulk"></fa-icon>
                    &nbsp; {{ 'contact' | translate }}
                </a>
            </li>
        </ul>
    </div>


</div>