.wrapper {
    display: grid;
    background: white !important;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}


.wrapper .image {
    padding-top: 25px;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end:3;
}

.wrapper .title {
    margin-top:30px;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end:5;
}

.wrapper .content {
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end:10;
}