<div class="wrapper" style="margin-top:25px">
    <html>

    <body>
        <h1>{{'rules'| translate}}</h1>
        <h2>Introduction</h2>
        {{'rulesdescription' | translate}}

        <p class='has-dropcap'>{{'rulesp1'|translate}}</p>
        <blockquote>{{'rulestitle' | translate}}</blockquote>
        <table>
            <tr>
                <th>Infraction</th>
                <th>{{'consequences'| translate}}</th>
            </tr>
            <tr>
                <td>{{'rulekey1' | translate}}</td>
                <td>{{'rulevalue1' | translate}}</td>
            </tr>
            <tr>
                <td>{{'rulekey2' | translate}}</td>
                <td>{{'rulevalue2' | translate}}</td>
            </tr>
            <tr>
                <td>{{'rulekey3' | translate}}</td>
                <td>{{'rulevalue3' | translate}}</td>
            </tr>
            <tr>
                <td>{{'rulekey4' | translate}}</td>
                <td>{{'rulevalue4' | translate}}</td>
            </tr>
            <tr>
                <td>{{'rulekey5' | translate}}</td>
                <td>{{'rulevalue5' | translate}}</td>
            </tr>
            <tr>
                <td>{{'rulekey6' | translate}}</td>
                <td>{{'rulevalue6' | translate}}</td>
            </tr>
        </table>
        <br>
        <p>{{'conclusionrules' | translate}}</p>
        <br>{{'thankyou' | translate}}
    </body>

    </html>
</div>