<div class="container">

    <div class="problem">
        <h3>{{this.challenge.title}}</h3>
        <br>
        <img *ngIf="this.image" [src]=this.image style="height: 200px; width:400px;">
        <br>
        <p style="width:80%">{{this.challenge.explanation}}</p>
    </div>
    <div class="wrapper">
        <div class="header">
            <!-- header -->
            <nav class="navbar navbar-light bg-light ">
                <span class="mx-auto text-bold">Solution</span>
            </nav>
            <p style="font-size: 10px;">{{'exerciseexplanation' | translate}}</p>
        </div>



        <div class="container h-100 mt-4" style="grid-column-start: 1; grid-column-end: 10; grid-row-start: 2; display:grid; grid-template-columns: repeat(10, 1fr); grid-template-rows: repeat(10, 1fr);">

            <!-- languages & theme -->
            <!-- languages select -->
            <div style="grid-column-start: 1; grid-column-end: 10; grid-row-start: 1;">
                <div class="input-group input-group-sm">
                    <div>
                        {{'language' | translate}}
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-target="dropdown-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{this.languageName}}
                </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li *ngFor="let v of language; let i = index" (click)="selectChangeHandler($event, v.val, v.id )">
                                <a class="dropdown-item">{{ v.val }}</a>
                        </div>
                    </div>
                    <div style="margin-left:20px;">
                        Version:
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-bs-target="dropdown-menu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div style="max-height:25px;" [innerHTML]="this.languageVersion"></div>
                </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <li *ngFor="let v of version[languageId].value; let i = index" (click)="selectChangeHandlerVersion($event, v.v, v.language, v.tag)">
                                <a class="dropdown-item">{{ v.tag }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parent" style=" grid-row-start:1; grid-column-start: 1; grid-column-end: 10; position: relative;">
                <!-- the code editor -->
                <div class="col" style="grid-row-start:1; grid-column-start: 1; grid-row-end:2; grid-column-end: 10; margin-top:60px;">
                    <div class="code-editor" #codeEditor></div>
                </div>

                <!-- run, clear & beautify buttons -->
                <div style="  width: 100%;margin: 0 auto; margin-top: 10px;  display:flex; grid-row-start:2; grid-column-start:1; grid-column-end:6;">
                    <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-25">
                        <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" style="float: left;" (click)="runCode()">
        {{'run' | translate}}
</button>
                    </div>
                    <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-25">
                        <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" style="float: left;" (click)="clear()">
        {{'clear' | translate}}
</button>
                    </div>

                    <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-25">
                        <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" style="float: right;" (click)="beautifyContent()">
        {{'beautify' | translate}}
</button>
                    </div>

                    <div class="col-3 col-lg-2 col-md-3 col-sm-4 w-25">
                        <button type="button" class="btn btn-success btn-sm btn-block px-4 mx-2" style="float: right;" (click)="test()">
        Tests
</button>
                    </div>
                </div>
                <!-- test progress bar -->
                <div *ngIf="tests" style="margin-top:10px; grid-row-start: 1; grid-row-end: 2; grid-column-start:1; grid-column-end:10;">
                    <ul class="progressbar rb-step d-flex justify-content-center">
                        <li *ngIf="!successTest1 && !failureTest1" style="width: 100%;">Test 1</li>
                        <li *ngIf="failureTest1" class="failure" style="width: 100%;">Test 1</li>
                        <li *ngIf="successTest1" class="active" style="width: 100%;">Test 1</li>
                        <li *ngIf="!successTest2 && !failureTest2" style="width: 100%;">Test 2</li>
                        <li *ngIf="failureTest2" class="failure" style="width: 100%;">Test 2</li>
                        <li *ngIf="successTest2" class="active" style="width: 100%;">Test 2</li>
                        <li *ngIf="!successTest3 && !failureTest3" style="width: 100%;">Test 3</li>
                        <li *ngIf="failureTest3" class="failure" style="width: 100%;">Test 3</li>
                        <li *ngIf="successTest3" class="active" style="width: 100%;">Test 3</li>
                        <li *ngIf="!successTest4 && !failureTest4" style="width: 100%;">Test 4</li>
                        <li *ngIf="failureTest4" class="failure" style="width: 100%;">Test 4</li>
                        <li *ngIf="successTest4" class="active" style="width: 100%;">Test 4</li>

                    </ul>
                </div>

                <!-- output box -->
                <div class="row mt-4" style=" grid-row-start:1; grid-column-start:1; grid-column-end:10;">
                    <div class="col">
                        <div class="label-box border"><span class="mx-4 font-weight-light">{{'output' | translate}}</span></div>
                        <textarea [(ngModel)]="runOutput" class="form-control output" rows="6" disabled="true" aria-label="output-textarea"></textarea>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>